@charset "utf-8";
/* CSS Document */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
1. Shared Styles
2. Header
3. Forms
4. Content Area
5. Footer
6. Media Queries
*/



/* -----------------------------------------
1.   Shared Styles
----------------------------------------- */

body {
	font-family: Arial, Helvetica, sans-serif;	
}

.clear {
	clear: both;	
}

/* -----------------------------------------
2.   Header
----------------------------------------- */

header {
	background: url('../images/header-mobile-bg.jpg') no-repeat center right;
	padding: 2%;
}

.logo a {
	max-width: 250px;
	height: 68px;
	display: block;
	text-indent: -9999px;
	background: url('../images/lcb-logo.png') no-repeat;	
}

.header-right {
	padding-top: 5%;
	
	padding-left: 0px !important;
}

	.header-register-btn {
		background: url('../images/gold-register-btn.png') no-repeat;
		width: 213px;
		height: 49px;
		display: block;
		text-transform: uppercase;
		text-decoration: none;
		font-weight: bold;
		color: #414141;
		padding: 10px 10px 0px 0px;
		text-align: center;
		font-size: 1.2em; /*21px*/
		margin-left: -0.9375em;
		margin-bottom: 0.5em;
	}
		.header-register-btn span {
			font-size: 0.75em;	
		}

	.header-right .sizzle {
		max-width: 80%;
	}

	.header-right h2 {
		color: #edaa00;
		font-size: 1.5em;
		margin-top: 0.4em;
	}
	
	

nav, nav.large-16 {
	background-color: #1d5aac;	
	padding: 0px;
	
	-moz-box-shadow: inset 0px -25px 25px #0f3062;
	-webkit-box-shadow: inset 0px -25px 25px #0f3062;
	box-shadow: inset 0px -25px 25px #0f3062;
}

	nav ul {
		margin: 0 0 0 -40px;	
	}

	nav ul li {
		list-style-type: none;
		display: block;
		float: left;
	}
	
		nav ul li a {
			color: #fff;
			font-size: 1.125em;
			line-height: 2.5em;
			padding: 0px 1.5em;
			text-decoration: none;	
			display: block;
			font-weight: bold;
		}
		
		nav ul li:hover a, nav ul li.active a, nav ul li.active:hover a {
			background-color: #f0f0f0;	
			color: #004f93;
			-moz-box-shadow: inset 0px 0px 18px #a9abad;
			-webkit-box-shadow: inset 0px 0px 18px #a9abad;
			box-shadow: inset 0px 0px 18px #a9abad;
		}
	
	
@media only screen and (min-width: 767px) {
	
	header {
		background: url('../images/header.png') no-repeat top right;
		height: 289px;
		padding: 1%;	
	}
	
	.logo a {
		margin-top: 10px;	
		display: none;
	}
	
	.header-right {
		padding-right: 0.9375em !important;	
	}
	
	.header-right .sizzle {
		max-width: 100%;	
	}
	
	.header-right h2 {
		font-size: 1.8em;	
		margin-top:0;
		text-shadow: 2px 2px 5px #fff;
	}
	
}		
		
	
/* -----------------------------------------
3.   Forms
----------------------------------------- */

fieldset {
	border:none;
	margin:0 0;
	padding:0 0;
}

	#firstName, #lastName {
		width:48%;
		float:left;
	}

	#firstName {
		margin-right:4%;
	}

	#month, #year {
		width:35%;
		float:left;
		padding:0.2em;
	}

	#month, #day {
		margin-right:3%;
	}

	#day {
		width: 23%;
		float: left;
		padding:0.2em;
	}

	select {
		background-color: #fff;
		font-family: inherit;
		border: 1px solid #ccc;
		-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
		box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
		color: rgba(0,0,0,0.75);
		display: block;
		font-size: 0.875em;
		margin: 0 0 1em 0;
		padding: 0.5em;
		height: 2.3125em;
		width: 100%;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		-webkit-transition: -webkit-box-shadow 0.45s,border-color 0.45s ease-in-out;
		-moz-transition: -moz-box-shadow 0.45s,border-color 0.45s ease-in-out;
		transition: box-shadow 0.45s,border-color 0.45s ease-in-out;
	}

.form-container {
	border: 8px solid #014f93;
	border-bottom: 39px solid #014f93;
	background: #fff;
	padding: 5%;
}

	.form-container h2 {
		color: #004f93;
		font-size: 1.5em;
		border-bottom: 1px solid #e1e1e1;
		text-align: center;
		padding-bottom: 10px;
		margin-top: 0px;
	}
	
		.form-container h2 span {
			color: #848484;
			font-size: 0.8em;
		}
	
	.form-container .limited {
		font-size: 1.063em;
		color: #004f93;
		width: 100%;
		display: block;
		text-align: center;
	}
	
	.submit-btn {
		outline: none;
		cursor: pointer;
		border: 0px;
		margin: -10px auto -62px auto;
		white-space: normal;
		font-size: 1em;
		padding-top: 2px;	
	}
	
	
	.form-sidebar, .form-sidebar.columns {
		padding: 0px;
		display: none;
	}
	
		.form-footer {
			margin: 10px 0px;	
		}

			p.permission {
				display: block;
				background: url(../images/pdf.png) no-repeat top left;
				padding-left:80px;
				margin-top:25px;
				font-size:0.75em;
			}

			span.print {
				font-weight: bold;
				font-size:1.25em;
				margin-top:10px;
				display: block;
			}



			span.print a {
				color:#004f93;
			}
		
	
		.social-list {
			float: left;
			margin-left: -40px;
		}

				.lt-ie9 .social-list {
					margin-left:-54px;
				}
	
			.social-list li {
				list-style-type: none;
				float: left;
				margin-right: 15px;
			}

					.lt-ie9 .social-list li {
						margin-right:0px;
					}
			
				.social-list li a {
					background: url('../images/social-icons.jpg') no-repeat;
					display: block;
					width: 30px;
					height: 31px;
					text-indent: -9999px;
				}
				
					.social-list li.facebook {
						margin-right: 7px;	
					}

							.lt-ie9 .social-list li.facebook {
								margin-right: 0px;
							}
				
						.social-list li.facebook a {
							background-position: 0px 0px;
						}
					
					.social-list li.instagram a {
						background-position: -37px 0px;
					}
					
					.social-list li.twitter a {
						background-position: -81px 0px;
					}
				
			.hashtag {
				text-transform: uppercase;
				color: #094f93;
				font-size: 1em;
				font-weight: bold;
				float: left;
				line-height: 30px !important;
			}	

				.lt-ie9 .hashtag {
					font-size:0.9em;
					margin-left:10px;
				}
	

	/********************/
    /* Validator Styles */

    input.error, select.error {
        border:solid #f97b87 1px;
        background:url(../images/form-failbg.png) no-repeat 99% 50%;
        background-color:#ffecee;
    }

    div.error {
        clear:both;
        text-align: right;
        display:none;
        margin:3px 0px 9px 0px;
        padding:0;
        
        font-size:12px;
        color:#ca2b3a;
    }

    div.messagebox {
        clear:both;
        float:right;
        display:none;
        width:100%;
        margin:0;
        padding:0;
    }

    input.valid, select.valid {
        border:solid #178514 1px;
        background:url(../images/form-successbg.png) no-repeat 99% 50%;
        background-color:#ffffff;
    }

    select.error, select.valid {
        background-position: 92% 50%;
    }


	
	

@media only screen and (min-width: 767px) {
	
.form-container {
	-moz-box-shadow: 0px 0px 10px #000;
	-webkit-box-shadow: 0px 0px 10px #000;
	box-shadow: 0px 0px 10px #000;	
}
	
.form-sidebar, .form-sidebar.columns {
	display: block;	
}
	
.form-container {
	margin-top: -85px;
}

.form-sidebar .small {
	padding-left: 0;
	padding-right: 0;
}

}	

/* -----------------------------------------
4.   Content Area
----------------------------------------- */

.content-left.large-10 {
	font-size: 0.875em;
}

	.lt-ie9 .content-left.large-10 {
		font-size:0.75em;
	}

	.content-left h1 {
		color: #004f93;
		font-size: 1.6em;
		line-height: 1.2em;	
		margin: 1em 0;
	}


	.content-left a {
		color: #004f93;
	}
	
	.content-left h2 {
		color: rgb(247,144,30);
		font-weight: bold;
		font-size: 1.25em;
		border-bottom: 1px solid #e1e1e1;
		line-height: 1.4em;	
		text-transform: uppercase;
		margin-bottom: 15px;
	}

	.content-left p, .content-left ul li {
		line-height: 1.3em;	
	}


.camp-callout {
	background-color: #e7ebf1;
	padding: 4%;
	margin: 20px 0px 10px 0px;
}

	.camp-callout h3 {
		/* Shadows are visible under slightly transparent text color */
	    color: rgba(116,132,158, 0.8);
	    text-shadow: 1px 4px 6px #e7ebf1, 0 0 0 #000, 1px 4px 6px #e7ebf1;
		margin-top: 0px;
		font-size: 1.8em;
		margin-bottom:0;
	}

		.inset-text {
	    /* Shadows are visible under slightly transparent text color */
	    color: rgba(116,132,158, 0.8);
	    text-shadow: 1px 4px 6px #e7ebf1, 0 0 0 #000, 1px 4px 6px #e7ebf1;
		}

		/* Don't show shadows when selecting text */
		::-moz-selection { background: #5af; color: #fff; text-shadow: none; }
		::selection { background: #5af; color: #fff; text-shadow: none; }

	.camp-callout ul {
		display: table-cell;
	}
	
		.camp-callout ul li {	
			margin-left: -20px;
		}

			.lt-ie9 ul li {
				margin-left: 20px;
			}

	.camp-callout p.focus {
		margin:10px 0 3px 0;
	}

	.yourSession {
		background:#004f93;
	}
		

@media only screen and (min-width: 767px) {

.content-left.large-10 { 
	padding: 1em 3em 1em 1em;
}

}


/* -----------------------------------------
5.   Footer
----------------------------------------- */
	footer {
		margin:0 10px;
	}

		p.address {
			display: block;
			margin:0;
			font-size:0.85em;
		}

		span.blue {
			color:#095093;
			font-weight: bold;
		}


		footer .small {
			color: #464545;
			font-size: 0.625em;	
			line-height: 1.25em;

		}
		
			footer .small a {
				color: #464545;
				text-decoration: none;
			}


@media only screen and (min-width: 767px) {

	footer {
		background: url(../images/footer_bar.png) no-repeat top center;
		padding-top:65px;
		width:796px;
		margin:25px auto 0 auto;
	}

		.footerLeft {
			float:left;
			margin:0 0 30px 20px;
			width:93%;
		}

		.footerRight {
			float:right;
			margin:0 50px 30px 0;
			width:205px;
		}


		.hashtag {
			margin:0;
			margin-top:20px;
		}

			.lt-ie9 {
				margin-top:0px;
			}
}


/* -----------------------------------------
6.   Media Queries
----------------------------------------- */

@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  .main-content a[href]:after, .home-subfeature-row a[href]:after { content: " (" attr(href) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}